body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #b1b5b7;
  font-family: "Monserrate", "Arial";
  margin: 0;
  padding: 0;
  /*SECTION*/
  /*FOOTER*/
  /*MEDIA QUERIES*/
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  /*HEADER*/
}

body .container .header {
  width: 100%;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5% 0 0;
}

body .container .header .header img {
  background-image: url("../img/fotoPerf.jpg");
}

body .container .header hr {
  width: 100%;
  height: 3px;
  background: #b1b5b7;
}

body .container .header .texto h1 {
  font-size: 2em;
  letter-spacing: 2.5px;
  font-weight: 100;
  color: #7d97ad;
  font-weight: 100;
}

body .container .header .texto h3 {
  letter-spacing: 2.5px;
  font-weight: 100;
}

body .container .header .header .texto {
  width: 90%;
  text-align: right;
  line-height: 20px;
}

body .container .header .header .me {
  width: 120px;
  border-radius: 50%;
  height: 120px;
}

body .container .header .featured {
  margin: 5% 1% 1% 1%;
  font-weight: 100;
  font-size: 2.5em;
}

body .container .container__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /*ASIDE*/
}

body .container .container__center .aside {
  width: 15%;
  margin: 180px 2% 0 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .container__center .aside .aside .square {
  width: 70px;
  height: 70px;
  padding: 2%;
  margin-left: 25%;
}

body .container .container__center .aside .aside .first-color,
body .container .container__center .aside .aside .second-color,
body .container .container__center .aside .aside .third-color {
  font-size: 1.6em;
  margin-top: 1%;
  margin-bottom: 15%;
  margin-left: 15%;
}

body .container .container__center .aside .light-bleu {
  background-color: #02b3e4;
  width: 50px;
  height: 50px;
}

body .container .container__center .aside .dark-bleu {
  background-color: #2d3c49;
  width: 50px;
  height: 50px;
}

body .container .container__center .aside .bleu {
  background-color: #7d97ad;
  width: 50px;
  height: 50px;
}

body .main {
  width: 75%;
  /*GALLERY*/
}

body .main .img-section {
  margin-top: 4%;
  width: 100%;
  height: 500px;
  background-image: url(../img/proj.png);
}

body .main .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

body .main .proj {
  width: 31%;
  height: 200px;
}

body .main .proj .photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

body .main .first-proj .photo {
  background-image: url(../img/mem.png);
}

body .main .second-proj .photo {
  background-image: url(../img/arcade.png);
}

body .main .third-proj .photo {
  background-image: url(../img/amazonCart.PNG);
}

body .main .forth-proj .photo {
  background-image: url(../img/pixel.png);
}

body .main .second-proj,
body .main .fifth-proj {
  margin-left: 3.5%;
  margin-right: 3.5%;
}

body .main .forth-proj {
  margin: 100px 0 0;
}

body .main .proj .page {
  text-align: center;
  margin: 0 0 20% 0;
}

body .main .proj a:link {
  color: #30577c;
  text-decoration: none;
}

body .main .proj a:hover {
  color: #b1b5b7;
}

body .main .proj h2 {
  color: #30577c;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 1%;
}

body .main .proj p {
  overflow: hidden;
  cursor: pointer;
}

body footer {
  margin: 200px 5% 5% 19%;
  width: 75%;
}

body footer ul {
  text-align: center;
  list-style-type: none;
}

body footer ul li {
  display: inline;
  margin: 2% 3%;
  padding: 2px 10px;
  letter-spacing: 3px;
}

body footer a {
  text-decoration: none;
  color: #b1b5b7;
}

@media screen and (max-width: 500px) {
  body .header .texto h1 {
    font-size: 12px;
  }
}

@media screen and (max-width: 700px) {
  body .featured {
    font-size: 14px;
  }
  body .main {
    width: 100%;
    margin-left: 0 auto;
    margin-right: 0 auto;
  }
  body .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  body .proj {
    width: 100%;
    margin: 60px 0;
  }
  body .proj:first-child {
    margin-top: 1%;
  }
  body .third-proj {
    margin: 60px 0 0 0;
  }
  body .forth-proj {
    margin: 0 0 60px 0;
  }
  body .img-section {
    height: 250px;
  }
  body .container {
    font-size: 14px;
    width: 80%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .header .me {
    width: 50px;
    height: 50px;
  }
  body .header .texto {
    height: 50px;
    line-height: 5px;
  }
  body .container .aside .first-color,
  body .container .aside .second-color,
  body .container .aside .third-color {
    font-size: 14px;
    margin-left: 20px;
  }
  body .container .aside {
    width: 75%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 25% 25%;
        grid-template-columns: 25% 25% 25%;
    -ms-grid-rows: 25% 25% 25%;
        grid-template-rows: 25% 25% 25%;
    grid-gap: 12%;
    padding: 2%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
  }
  body .square {
    width: 48px;
    height: 48px;
    padding: 2%;
    margin: 0;
  }
  body .aside .first-color {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  body .aside .second-color {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  body .aside .third-color {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  body .footer {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    margin-top: 100px;
  }
  body .footer ul li {
    display: block;
    text-align: left;
  }
  body .page {
    font-size: 10px;
  }
  body .header .texto h1 {
    font-size: 14px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1030px) {
  body .page {
    font-size: 10px;
  }
  body .texto h1 {
    font-size: 18px;
  }
  body footer ul li {
    font-size: 14px;
    margin: 5px 2px;
    padding: 2px 5px;
    padding-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  body .container,
  body .footer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
/*# sourceMappingURL=styles.css.map */